	<!--- レコードチェック --->
	<cfquery name="getres" datasource = "#Application.datasource#">
		select	 reserve_code,referencenumber,customer_code,reserve_code_org
		from	 #Application.app00.dbu#.rtt_reserve
		order by depart_date asc
	</cfquery>
	<cfloop query="getres">
		<!--- 
		<cfset wk_new = 'sys'&numberformat(currentrow,'000000')>
		<cfset wk_cod = numberformat(customer_code,'000000000')>
		<cfquery name="setres" datasource = "#Application.datasource#">
			update	 #Application.app00.dbu#.rtt_reserve
			set	 reserve_code = '#wk_new#'
			,	 customer_code = '#wk_cod#'
			where reserve_code = '#reserve_code#'
		</cfquery>
 --->
		<cfquery name="setres" datasource = "#Application.datasource#">
			update	 #Application.app00.dbu#.hst_answers
			set	 reserve_code = '#reserve_code#'
			where reserve_code = '#reserve_code_org#'
		</cfquery>
		<cfquery name="setres" datasource = "#Application.datasource#">
			update	 #Application.app00.dbu#.hst_answersdetails
			set	 reserve_code = '#reserve_code#'
			where reserve_code = '#reserve_code_org#'
		</cfquery>
	</cfloop>
	<cfabort>		
			
	<cfquery name="nres" datasource = "#Application.datasource#">
		select	 reserve_code,referencenumber,customer_code
		from	 #Application.app00.dbu#.rtt_reserve
		order by depart_date asc
	</cfquery>
		
	<!--- レコードチェック --->
	<cfquery name="getCustomer" datasource = "#Application.datasource#">
		select	 customer_code
		from	 #Application.app00.dbu#.rtm_customer
	</cfquery>		
	<cfloop query="getCustomer">
		<cfset wk_cod = numberformat(customer_code,'000000000')>
		<cfquery name="setcus" datasource = "#Application.datasource#">
			update	 #Application.app00.dbu#.rtm_customer
			set	 customer_code = '#wk_cod#'
			where customer_code = '#customer_code#'
		</cfquery>
	</cfloop>
	<cfquery name="setcus" datasource = "#Application.datasource#">
		update	 #Application.app00.dbu#.rtm_customer
		set	 gender_code = 0
		where gender_code = 100000000000
	</cfquery>
	<cfquery name="setcus" datasource = "#Application.datasource#">
		update	 #Application.app00.dbu#.rtm_customer
		set	 gender_code = 1
		where gender_code = 100000000001
	</cfquery>
	<cfquery name="setcus" datasource = "#Application.datasource#">
		update	 #Application.app00.dbu#.rtm_customer
		set	 gender_code = 2
		where gender_code = 100000000002
	</cfquery>
		
		
	<cfdump var=#nCustomer#>