<cfapplication name="altscrm_n" sessionmanagement="yes" sessionTimeout = #CreateTimeSpan(1, 0, 0, 0)# clientmanagement="no">
<!--- ++++++++  共通項目 +++++++ --->
<!--- DSN 本番 --->			<cfset Application.datasource="server_crmpublic">
<!--- DSN 開発 --->			<cfset Application.datasource="crmpublic">
<!--- 施設コード --->		<cfset Application.resortname="">

<!--- RootPath --->			<cfset Application.root="/#listgetat(cgi.SCRIPT_NAME,1,'/')#/">
<!--- ファイル出力先 --->	<cfset Application.outputDirectory = "#Application.root#csvfiles/">
<!--- ログ出力 --->			<cfset Application.log_directory = "#Application.root#data/">
<!--- WEBCSURL --->			<cfset Application.CSURL = "http://127.0.0.1/rnrEnquete/index.cfm?id=">

<!--- 環境設定 --->			<cfinclude template="g_vars.cfm">
<!---  --->
<!--- ++++++++  アプリ用 +++++++ --->
<!--- ルート --->			<cfset Application.app00.root = "#Application.root#app00/">
<!--- DBU --->				<cfset Application.app00.dbu = "dbo">
<!--- 識別名称 --->			<cfset Application.app00.appname = "app00">
<!--- 設問設定 --->			<cfinclude template="#Application.app00.root#q_setting.cfm">
							<cfset StructAppend(Application.app00,q_str)>
