/*
<!------------------------------------------------------------------------　　　　
	タイトル：<TITLE>スタイル基本設定</TITLE>
	作成日：2002/05/22
	作成者：Miyahara
	ファイル概要：スタイルシート設定用ファイル。各種ファイルにインクルード
------------------------------------------------------------------------>
*/

/*　基本設定  */
BODY{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	background :#FFFFFF;
	margin:0;
}
