<!--- ++++++++  メールサーバー設定 +++++++ --->
<!--- SMTPServer --->	<cfset Application.SMTPServer = "127.0.0.1">
<!--- port --->			<cfset Application.port = "8025">
<!--- username --->		<cfset Application.username = "a">
<!--- password --->		<cfset Application.password = "a">

<!--- crmmaster --->	<cfset Application.crmmaster = "miyahara@mic-systems.com">
<!--- bccaddress --->	<cfset Application.bccaddress = "">








