<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<title>-- CRMKitchen --</title><link rel="stylesheet" href="configcss.css">
</head>
<body bgcolor="#ffffff">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1000" height="640" id="index" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="movie" value="index.swf" />
	<param name="menu" value="false" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<param name="FlashVars" value="">
	<embed src="index.swf" menu="false" 
		FlashVars=""
		quality="high" bgcolor="#ffffff" width="1000" height="640" 
		name="index" align="middle" allowScriptAccess="sameDomain" 
		type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
<cfoutput><font color="##FFFFFF">[#cgi.remote_addr#]</font></cfoutput>
</body>
</html>
