<cfset dd = isnumeric(listgetat("-1:dddd",1,":"))>
<cfdump var=#dd#>
<cfabort>
	
<cfinvoke component="cfc.login" method="getloginUser" 
login_id="ks001"
login_pw="1123456"
returnVariable="retq">




</cfinvoke><cfdump var=#retq#><cfabort>