<!--- 
<cfinvoke component = "app00/cfc/guestinfo" method = "getGuestList"
EMail=""
address=""
birth_date=""
custmoer_nm=""
customernumber=""
referencenumber=""
reserve_code="107005345"
resort_code="0"
surveymethod=-1
tel=""
returnVariable	="retVal">
 --->
<cfset Parameters = arraynew(1)>
<cfset ArrayAppend( Parameters , "1")>
<cfset ArrayAppend( Parameters , "110004744TK289")>
<cfset ArrayAppend( Parameters , "11")>


<cfinvoke component = "app00/cfc/specsheet" method = "getUserEnquete"
SummaryID="#Parameters[1]#"
referencenumber="#Parameters[2]#"
resort_code="#Parameters[3]#"
returnVariable	="retVal">


<cfdump var=#retVal#>
<cfabort>
