<cfapplication name="webcs" sessionmanagement="Yes" loginStorage="Session" sessionTimeout = #CreateTimeSpan(1, 0, 0, 0)# >
<cfsetting enablecfoutputonly="yes">
<cfscript>
	dsn = "rnrcrm";
	dbu = "dbo";
	digitcheck = "6";
	title="リゾナーレＣＳ スタッフ入力画面";
	resort_code=10;
</cfscript> 