/*
<!------------------------------------------------------------------------　　　　
	タイトル：<TITLE>スタイル基本設定</TITLE>
	作成日：2002/05/22
	作成者：Miyahara
	ファイル概要：スタイルシート設定用ファイル。各種ファイルにインクルード


------------------------------------------------------------------------>
*/

/*　基本設定  */
BODY{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
}

TABLE{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color: #CCCCCC ;
	border-width:0 0 0 0 ;

}
TABLE.form{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color: #CCCCCC ;
	border-width:1 1 1 1 ;

}
TD{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color: #CCCCCC ;
	border-width:0 0 0 0 ;
}

TD.radio{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color: #CCCCCC ;
	border-width:1 1 1 1 ;
	border-style	:	solid;
}

TD.nouse{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEE9 ;
	border-color: #CCCCCC ;
	border-width:1 1 1 1 ;
	border-style	:	solid;
}

TD.str{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color: #CCCCCC ;
	border-width:0 0 1 0 ;
	border-style	:	dashed;
}

#form-non-border { 
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	0 0 0 0;
}
#form-sol-border { 
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	1 1 1 1;
	border-style	:	solid;
}

TABLE.onborder{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	3 3 3 3 ;
	border-style	:	double;
	}

TABLE.guidance{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	1 0 1 0 ;
	border-style	:	dashed;
	}

TABLE.information{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	0 0 1 0 ;
	border-style	:	solid;
	}

TABLE.block{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	background-color:	#EEEEE9;
	border-width	:	0 2 2 0 ;
	border-style	:	solid;
	}

TABLE.areaspace{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-width	:	0 0 0 0 ;
	width	: 800;
	}

TABLE.illegal{
	font : 12pt Verdana, Arial, Helvetica, sans-serif;
	border-width	:	0 0 0 0 ;
	color:#FF0000;
	width	: 800;
	}
	
.footer{
	font : 10pt Verdana, Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	1 0 0 0 ;
	border-style	:	solid;
	}

.question{
	font-size : 10pt;
	font-weight : normal;
	color:#333333;
	padding:6;
	border-color:#999999;
	border-width:0 0 1 8;
	border-style:solid;
	}

DIV.msg{
	font-size : 10pt;
	font-weight : normal;
	color:#FF0000;
	}
	
DIV.rnm{
	font : 16pt Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	color:#000000;
}
	

.btn {
	border-top: 1px #ffccee solid;
	border-right: 1px #663300 solid;
	border-bottom: 1px #663300 solid;
	border-left: 1px #ffccee solid;
	background-color: #FFCC00;
	height: 30px;
}

.logoffbtn {
	border-top: 1px #cccccc solid;
	border-right: 1px #333333 solid;
	border-bottom: 1px #333333 solid;
	border-left: 1px #cccccc solid;
	background-color: #999999;
	height: 20px;
	color:#ffffff;
}


textarea,select,input { font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku GothicPro","Osaka","Verdana","Helvetica","Arial","ＭＳ Ｐゴシック","sans-serif"; }

