<!--- インポート元 --->
<cfset dbname = "sgy">
<cfset scname = "tap">
<cfset r_code = "4">

<!--- インポート先 --->
<cfset c_dbname = "crmpublic">
<cfset c_scname = "dbo">

<!--- インポート先に存在しないデータ --->
<cfquery name="getMore" datasource = "#Application.datasource#">
	select	 * from #dbname#.#scname#.rtt_reserve
	where	not exists (
		select * from #c_dbname#.#c_scname#.rtt_reserve
	where
	#dbname#.#scname#.rtt_reserve.referencenumber = #c_dbname#.#c_scname#.rtt_reserve.referencenumber
	) 
</cfquery>

<cfloop query="getMore">
	<cfquery name="setMore" datasource = "#Application.datasource#">
		insert into 
	</cfquery>
</cfloop>