/*
<!------------------------------------------------------------------------　　　　
	タイトル：<TITLE>スタイル基本設定</TITLE>
	作成日：2002/05/22
	作成者：Miyahara
	ファイル概要：スタイルシート設定用ファイル。各種ファイルにインクルード


------------------------------------------------------------------------>
*/

/*　基本設定  */
BODY{
	font : 10pt Arial, Helvetica, sans-serif;
}

TABLE{
	font : 10pt Arial, Helvetica, sans-serif;
	border-color	: #CCCCCC ;
	border-width	:1 ;
	border-style:solid;
	padding:5;
}
TD{
	font : 10pt Arial, Helvetica, sans-serif;
	border-color: #CCCCCC ;
	border-width:0 0 0 0 ;
}



TABLE.header{
	font : 10pt Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	background-color:	#FAFAFA;
	padding-left	:	10;
	padding-top		:	10;
	padding-bottom	:	10;
	border-width	:	1 1 1 1 ;
	border-style	:	solid;
	}

TABLE.illegal{
	font : 12pt Arial, Helvetica, sans-serif;
	border-width	:	0 0 0 0 ;
	color:#FF0000;
	width	: 800;
	}
	
.footer{
	font : 10pt Arial, Helvetica, sans-serif;
	border-color	:	#CCCCCC ;
	border-width	:	1 0 0 0 ;
	border-style	:	solid;
	}

TABLE.elm{
	font : 12pt Arial, Helvetica, sans-serif;
	font-weight : normal;
	background-color:	#CCCCCC;
	padding-left	:	10;
	padding-top		:	10;
	padding-bottom	:	10;
	border-color:#CCCCCC;
	border-width:1 1 0.5 1;
	border-style:solid;
	}

