<cfoutput>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>CRMKitchen ユーティリティ</title>
<link rel="stylesheet" href="#request.app.resource#/configcss.css">
</head>
<body>
<table cellspacing="0" cellpadding="0">
	<tr> 
		<td><img src="#request.app.resource#/img/title.jpg" width="300" height="30" border="0"></td>
		<td>＞#attributes.title#</td>
	</tr>
</table>
</cfoutput>