<!---  --->
<cfinvoke component = "cfc/conditionsetting" method = "getmaster"
	resort_code = 0
returnVariable	="retVal">
<cfdump var=#retVal#><cfabort>
	
<cfset wk_together = arraynew(1)>
<cfset ArrayAppend( wk_together , "/FAM")>
<cfset wk_resort_code = arraynew(1)>
<cfset ArrayAppend( wk_resort_code , 102)>
<cftry>

<cfinvoke component = "cfc/cstotal" method = "getEnquete"
	arg_category_id = 1
	arg_cross_id = 0
	arg_resort_code = #wk_resort_code#
returnVariable	="retVal">

<cfdump var=#retVal#>
	
<cfcatch>
<cfdump var=#cfcatch#>
</cfcatch>

</cftry>