<cftry>

<cfset wrk_id = ArrayNew(1)>

<cfset wk_resort_code = arraynew(1)>
<cfset ArrayAppend( wk_resort_code ,0)>

<cfset roomtype_id = ArrayNew(1)>
<!--- 
<cfset ArrayAppend( roomtype_id , "HR6")>
 --->
<cfset wk_together = arraynew(1)>
<!--- 
<cfset ArrayAppend( wk_together , "/FAM")>
 --->	
<cfset wk_arg_cognition = arraynew(1)>
<cfset wk_purpose = arraynew(1)>
<!---  
<cfset ArrayAppend( wk_purpose , "/SPA")>
<cfset ArrayAppend( wk_arg_cognition , "/WAG")>
--->
<cfset wk_arg_roomnumber = arraynew(1)>
<cfset ArrayAppend( wk_arg_roomnumber , "603")>

<!--- 
<cfset ArrayAppend( wk_arg_cognition , "/AGT/TWN")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/TKU")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/JR")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/HKG")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/EWL")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/BFO")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/AMX")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/SON")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/SNK")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/RTR")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/RIC")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/NTA")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/KOR")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/KNT")>
<cfset ArrayAppend( wk_arg_cognition , "/AGT/JTB")>
 --->	
	
<cfset date_id = ArrayNew(1)>
<cfset ArrayAppend( date_id , "2012/07/01")>
<cfset ArrayAppend( date_id , "2012/07/09")>
<cfinvoke component = "cfc/cstotal" method = "getAnswers"
	dcondtion=false
	selecteddays		=#date_id#
	arg_area			=#wrk_id#
	arg_cognition		=#wrk_id#
	arg_gender			=#wrk_id#
	arg_generation		=#wrk_id#
	arg_job				=#wrk_id#
	arg_purpose			=#wrk_id#
	arg_reservation		=#wrk_id#
	arg_roomtype		=#wrk_id#
	arg_spouse			=#wrk_id#
	arg_times			=#wrk_id#
	arg_together		=#wrk_id#
	arg_nights			=#wrk_id#
	arg_roomnumber		=#wrk_id#
	arg_residence		=#wrk_id#
	arg_category_id		=1
	arg_resort_code		=#wk_resort_code#
	arg_cross_id=1
	arg_group_id=0
returnVariable	="retVal">
<cfdump var=#retVal#>
<cfabort>
<cfinvoke component = "cfc/cstotal_dataselectwork" method = "getAnswers"
	dcondtion=false
	selecteddays		=#date_id#
	arg_area			=#wrk_id#
	arg_cognition		=#wrk_id#
	arg_gender			=#wrk_id#
	arg_generation		=#wrk_id#
	arg_job				=#wrk_id#
	arg_purpose			=#wrk_id#
	arg_reservation		=#wrk_id#
	arg_roomtype		=#wrk_id#
	arg_spouse			=#wrk_id#
	arg_times			=#wrk_id#
	arg_together		=#wrk_id#
	arg_nights			=#wrk_id#
	arg_roomnumber		=#wrk_id#
	arg_category_id		=2
	arg_resort_code		=#wk_resort_code#
	arg_cross_id=0
	arg_group_id=0
returnVariable	="retVal2">

<!--- 戻値クエリ作成 --->
<cfset getQrecords = QueryNew("
			 SAMPLES
			,EFFECTIVE_N
			,AVERAGE
			,RANK
			,TOP1
			,TOP2AND3
			,NAGETIVE
			,RESULT8_AVERAGE_TXT
			,QUESTIONNAIRE_ID")>
<cfquery name="worksql" dbtype="query">
	select	 SAMPLES
			,EFFECTIVE_N
			,AVERAGE
			,RANK
			,TOP1
			,TOP2AND3
			,NAGETIVE
			,RESULT8_AVERAGE_TXT
			,QUESTIONNAIRE_ID
	from	retVal
	where	(QUESTIONNAIRE_ID =100000001
		or	 QUESTIONNAIRE_ID =100000003
		or	 QUESTIONNAIRE_ID =600000001
		or	 QUESTIONNAIRE_ID =800200001
		or	 QUESTIONNAIRE_ID =900100001
		or	 QUESTIONNAIRE_ID =700204001
			)
</cfquery>
<cfloop query="worksql">
	<cfset QueryAddRow(getQrecords, 1)>
	<cfset QuerySetCell(getQrecords, "SAMPLES", #worksql.SAMPLES[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "EFFECTIVE_N", #worksql.EFFECTIVE_N[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "AVERAGE", #worksql.AVERAGE[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "RANK", #worksql.RANK[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "TOP1", #worksql.TOP1[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "TOP2AND3", #worksql.TOP2AND3[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "NAGETIVE", #worksql.NAGETIVE[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "RESULT8_AVERAGE_TXT", #worksql.RESULT8_AVERAGE_TXT[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "QUESTIONNAIRE_ID", #worksql.QUESTIONNAIRE_ID[worksql.currentrow]#)>
</cfloop>
<cfquery name="worksql" dbtype="query">
	select	 SAMPLES
			,EFFECTIVE_N
			,AVERAGE
			,RANK
			,TOP1
			,TOP2AND3
			,NAGETIVE
			,RESULT8_AVERAGE_TXT
			,QUESTIONNAIRE_ID
	from	retVal2
	where	(QUESTIONNAIRE_ID =100000001
		or	 QUESTIONNAIRE_ID =100000003
		or	 QUESTIONNAIRE_ID =600000001
		or	 QUESTIONNAIRE_ID =800200001
		or	 QUESTIONNAIRE_ID =900100001
		or	 QUESTIONNAIRE_ID =700204001
			)
</cfquery>

<cfloop query="worksql">
	<cfset QueryAddRow(getQrecords, 1)>
	<cfset QuerySetCell(getQrecords, "SAMPLES", #worksql.SAMPLES[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "EFFECTIVE_N", #worksql.EFFECTIVE_N[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "AVERAGE", #worksql.AVERAGE[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "RANK", #worksql.RANK[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "TOP1", #worksql.TOP1[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "TOP2AND3", #worksql.TOP2AND3[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "NAGETIVE", #worksql.NAGETIVE[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "RESULT8_AVERAGE_TXT", #worksql.RESULT8_AVERAGE_TXT[worksql.currentrow]#)>
	<cfset QuerySetCell(getQrecords, "QUESTIONNAIRE_ID", #worksql.QUESTIONNAIRE_ID[worksql.currentrow]#)>
</cfloop>
<cfdump var=#getQrecords#>
<cfabort>

<cfcatch>
	<cfdump var=#cfcatch#>
</cfcatch>
</cftry>	
