<cfset gender_id = ArrayNew(1)>
<cfset wrk_id = ArrayNew(1)>
<cfset tmp_id = ArrayNew(1)>
<cfset tmp_id1 = ArrayNew(1)>
<cfset arg_area_a = ArrayNew(1)>
<cfset ArrayAppend( arg_area_a , "2")>
<cfset ArrayAppend( arg_area_a , "3")>
<cfset ArrayAppend( arg_area_a , "4")>
<cfset ArrayAppend( arg_area_a , "5")>

<cfset date_id = ArrayNew(1)>
<cfset ArrayAppend( date_id , "2008/07/01")>
<cfset ArrayAppend( date_id , "2008/07/11")>

<cfset ArrayAppend( gender_id , 6)>

<cfset ArrayAppend( tmp_id , "7")>
<cfset ArrayAppend( tmp_id , "8")>

<cfset ArrayAppend( tmp_id1 , "感想と要望＜OA＞1")>
<cfset ArrayAppend( tmp_id1 , "感想と要望＜OA＞2")>


<cfset rtype_id = ArrayNew(1)>
<cfset ArrayAppend( rtype_id , "/SP1")>
<cfset ArrayAppend( rtype_id , "/ST2")>
<cfset ArrayAppend( rtype_id , "/ST1")>

<!--- 
<cfset resort_code = ArrayNew(1)>
<cfinvoke component = "cfc/csmulti" method = "getCategory"
	resort_code=0
	returnVariable	="retVal">

<cfdump var=#retVal#>
<cfabort>
 --->

<cfinvoke component = "cfc/csmulti" method = "getAnswers"
	arg_cross_id=0
	arg_resort_code=#resort_code#
	dcondtion=false
	selecteddays=#date_id#
	questionnaire_id=176
	arg_area=#wrk_id#
	arg_cognition=#wrk_id#
	arg_gender=#wrk_id#
	arg_generation=#wrk_id#
	arg_job=#wrk_id#
	arg_nights=#wrk_id#
	arg_purpose=#wrk_id#
	arg_reservation=#wrk_id#
	arg_roomtype=#wrk_id#
	arg_spouse=#wrk_id#
	arg_times=#wrk_id#
	arg_together=#wrk_id#
	arg_rcs=true
	arg_roomnumber=#wrk_id#
	returnVariable	="retVal">

<cfdump var=#retVal#>
<cfabort>
<cfinvoke component = "cfc/csmulti" method = "getAnswers"
arg_cross_id=1
arg_resort_code=#resort_code#
dcondtion=false
selecteddays=#date_id#
questionnaire_id=#Application.app00.q_value_id#
arg_area=#wrk_id#
arg_cognition=#wrk_id#
arg_gender=#wrk_id#
arg_generation=#wrk_id#
arg_job=#wrk_id#
arg_nights=#wrk_id#
arg_purpose=#wrk_id#
arg_reservation=#wrk_id#
arg_roomtype=#wrk_id#
arg_spouse=#wrk_id#
arg_times=#wrk_id#
arg_together=#wrk_id#
arg_roomnumber=#wrk_id#
returnVariable	="retVal">

<cfdump var=#retVal#>

<cfabort>

<cfform name="f_deliver" format="Flash" skin="haloGreen">
<cfgrid query="retVal" name="g_deliver" format="Flash" height="420" width="1200"  selectMode="Row" font="Verdana" fontsize="12" rowHeight="28">
</cfgrid>
</cfform>


<!---
<cfset tmp_id = ArrayNew(1)>
<cfset ArrayAppend( tmp_id , "27")>
<cfset ArrayAppend( tmp_id , "28")>

<cfset tmp_nm = ArrayNew(1)>
<cfset ArrayAppend( tmp_nm , "良かった")>
<cfset ArrayAppend( tmp_nm , "悪かった")>

<cfquery name="tmp_retQuery" datasource = "#Application.datasource#">
	select
		area_code,
		name
	from
		rtm_area
	where
		area_code not IN(100000000013,100000000011,100000000012,100000000014,100000000019,100000000020,100000000023,100000000021,100000000024,100000000022,100000000008,100000000009,100000000010,100000000026,100000000028,100000000029,100000000025,100000000030,100000000027)	
	order by
		area_code
</cfquery>
<cfinvoke
	component		= "cfc/oasearch_org"
	method			= "getOAAnswers"
	questionnaire_id	= "#tmp_id#"
	questionnaire_nm	= "#tmp_nm#"
	sStartDate	= "2005/10/01"
	sEndDate	= "2007/12/31"
	QUESTIONNAIRECATEGORY_ID = 4
	area_code	= 1
	together_code	= -1
	gender_code	= -1
	era_code	= -1
	purpose_code	= -1
	experienced_code = -1
	returnVariable	="retVal">
<cfdump var=#retVal#>
<cfabort>
--->


<!--- 
<cfinvoke
	component		= "cfc/specsheet"
	method			= "getRepeatCS"
	reserve_code = "100000041447"
	returnVariable	="retVal">
 --->
 <!--- 
<cfset tmp_id = ArrayNew(1)>
<cfset ArrayAppend( tmp_id , "18")>
<cfset ArrayAppend( tmp_id , "19")>

<cfset tmp_nm = ArrayNew(1)>
<cfset ArrayAppend( tmp_nm , "良かった")>
<cfset ArrayAppend( tmp_nm , "悪かった")>

<cfquery name="tmp_retQuery" datasource = "#Application.datasource#">
	select
		area_code,
		name
	from
		rtm_area
	where
		area_code not IN(100000000013,100000000011,100000000012,100000000014,100000000019,100000000020,100000000023,100000000021,100000000024,100000000022,100000000008,100000000009,100000000010,100000000026,100000000028,100000000029,100000000025,100000000030,100000000027)	
	order by
		area_code
</cfquery>
<cfinvoke
	component		= "cfc/oasearch"
	method			= "getOAAnswers"
	questionnaire_id	= "#tmp_id#"
	questionnaire_nm	= "#tmp_nm#"
	sStartDate	= "2005/07/01"
	sEndDate	= "2005/07/03"
	area_code	= -1
	together_code	= -1
	gender_code	= -1
	era_code	= -1
	purpose_code	= -1
	experienced_code = -1
	returnVariable	="retVal">

<cfdump var=#retVal#>
<cfabort>
 --->
<!--- 
<cfoutput>
<cfset tmp_id = ArrayNew(1)>
<cfset ArrayAppend( tmp_id , "30")>
<cfset ArrayAppend( tmp_id , "31")>
<cfset ArrayAppend( tmp_id , "32")>

<cfset tmp_nm = ArrayNew(1)>
<cfset ArrayAppend( tmp_nm , "良かった")>
<cfset ArrayAppend( tmp_nm , "悪かった")>
<cfset ArrayAppend( tmp_nm , "設備・備品などへの要望")>

<cfquery name="tmp_retQuery" datasource = "#Application.datasource#">
	select
		area_code,
		name
	from
		rtm_area
	where
		area_code not IN(100000000013,100000000011,100000000012,100000000014,100000000019,100000000020,100000000023,100000000021,100000000024,100000000022,100000000008,100000000009,100000000010,100000000026,100000000028,100000000029,100000000025,100000000030,100000000027)	
	order by
		area_code
</cfquery>
			
<cfinvoke
	component		= "cfc/oasearch"
	method			= "getOAAnswers"
	questionnaire_id	= "#tmp_id#"
	questionnaire_nm	= "#tmp_nm#"
	sStartDate	= "2004/10/01"
	sEndDate	= "2004/10/08"
	area_code	= -1
	together_code	= -1
	gender_code	= -1
	era_code	= -1
	purpose_code	= -1
	experienced_code = -1
	returnVariable	="retVal">
<cfdump var=#retVal#>
<cfabort>
 --->


<!--- OAテスト3 Start --->
<!--- 
<cfset tmp_id = ArrayNew(1)>
<cfset ArrayAppend( tmp_id , "30")>
<cfset ArrayAppend( tmp_id , "31")>
<cfset ArrayAppend( tmp_id , "32")>

<cfset tmp_nm = ArrayNew(1)>
<cfset ArrayAppend( tmp_nm , "良かった")>
<cfset ArrayAppend( tmp_nm , "悪かった")>
<cfset ArrayAppend( tmp_nm , "設備・備品などへの要望")>

<cfinvoke
	component		= "cfc/oasearch"
	method			= "getOAAnswers"
	questionnaire_id	= "#tmp_id#"
	questionnaire_nm	= "#tmp_nm#"
	sStartDate	= "2004/03/29"
	sEndDate	= "2004/11/29"
	returnVariable	="retVal">
<cfdump var=#retVal#>
<cfabort>
 --->
<!--- OAテスト3 end --->
