<cftry>
	
<cfset arr_resort_id = ArrayNew(1)>
<cfset ArrayAppend( arr_resort_id ,9)>
	<!--- 
<cfset ArrayAppend( arr_resort_id ,1)>
<cfset ArrayAppend( arr_resort_id ,3)>
<cfset ArrayAppend( arr_resort_id ,4)>
<cfset ArrayAppend( arr_resort_id ,5)>
<cfset ArrayAppend( arr_resort_id ,8)>
<cfset ArrayAppend( arr_resort_id ,9)>
<cfset ArrayAppend( arr_resort_id ,21)>
<cfset ArrayAppend( arr_resort_id ,22)>
<cfset ArrayAppend( arr_resort_id ,23)>
<cfset ArrayAppend( arr_resort_id ,24)>
<cfset ArrayAppend( arr_resort_id ,25)>
 --->

<!---  
<cfinvoke component = "cfc/oascreen" method = "getCategory"
resort_code=0
returnVariable	="retVal">
<cfdump var=#retVal#><cfabort>
<cfinvoke component = "cfc/oascreen" method = "getCategoryQs"
questionnairecategory_id = 14
arg_resort_code = #arr_resort_id#
returnVariable	= "retVal2">
--->
<!--- 
<cfdump var=#retVal2#><cfabort>
 --->

<cfset gender_id = ArrayNew(1)>
<cfset wrk_id = ArrayNew(1)>
<cfset tmp_id = ArrayNew(1)>
<cfset tmp_id1 = ArrayNew(1)>
<cfset arg_area_a = ArrayNew(1)>
<cfset ArrayAppend( arg_area_a , "2")>
<cfset ArrayAppend( arg_area_a , "3")>
<cfset ArrayAppend( arg_area_a , "4")>
<cfset ArrayAppend( arg_area_a , "5")>

<cfset date_id = ArrayNew(1)>
<cfset ArrayAppend( date_id , "2013/05/01")>
<cfset ArrayAppend( date_id , "2013/05/01")>

<cfset ArrayAppend( gender_id , 2)>

<cfset ArrayAppend( tmp_id , "200100001")>
<cfset ArrayAppend( tmp_id , "300000001")>


<cfset ArrayAppend( tmp_id1 , "OA1")>
<cfset ArrayAppend( tmp_id1 , "OA2")>


<cfset rtype_id = ArrayNew(1)>
<cfset ArrayAppend( rtype_id , "/SP1")>
<cfset ArrayAppend( rtype_id , "/ST2")>
<cfset ArrayAppend( rtype_id , "/ST1")>
<cfset ArrayAppend( rtype_id , "/ST1")>


<cfset rg_id = ArrayNew(1)>
<cfset ArrayAppend( rg_id , "2")>

	
<cfset rrt_id = ArrayNew(1)>
<cfset ArrayAppend( rrt_id , "/AGN/WEB")>


<cfinvoke component = "cfc/oascreen" method = "getOAAnswers"
dcondtion=false
arg_fieldselect=1
selecteddays=#date_id#
questionnaire_id=#tmp_id#
questionnaire_nm=#tmp_id#
questionnairecategory_id=10
arg_resort_code=#arr_resort_id#
arg_area=#wrk_id#
arg_cognition=#wrk_id#
arg_gender=#gender_id#
arg_generation=#wrk_id#
arg_job=#wrk_id#
arg_nights=#wrk_id#
arg_purpose=#wrk_id#
arg_reservation=#wrk_id#
arg_roomtype=#wrk_id#
arg_spouse=#wrk_id#
arg_times=#wrk_id#
arg_together=#wrk_id#
arg_roomnumber=#wrk_id#
arg_residence=#wrk_id#

returnVariable	="retVal">

<!---<cfdump var=#retVal#><cfabort> --->

	<cfcatch>
		<cfdump var=#cfcatch#>
		
	</cfcatch>
</cftry>
