<cftry>	
<cfset arr_resort_id = ArrayNew(1)>
<cfset ArrayAppend( arr_resort_id ,1)>
<cfinvoke component = "cfc/oascreen" method = "getCategoryQs"
	arg_resort_code = #arr_resort_id#
	questionnairecategory_id = "10"
returnVariable	="retVal">
<cfdump var=#retVal#><cfabort>

	<cfcatch>
		<cfdump var=#cfcatch#>
	</cfcatch>
</cftry>