<cftry>
<cfinvoke component = "cfc/specsheet" method = "getCustomerReserve"
customernumber="KSW0002477"
resort_code="3"
returnVariable	="retVal">

<cfdump var=#retVal#>
<cfabort>
<cfcatch>
	<cfdump var=#cfcatch#>
</cfcatch>
</cftry>
