
<cfset arr_resort_id = ArrayNew(1)>
<cfset ArrayAppend( arr_resort_id ,1)>
<cfset date_id = ArrayNew(1)>
<cfset ArrayAppend( date_id , "2012/08/01")>
<cfset ArrayAppend( date_id , "2012/08/31")>

<cfinvoke component = "cfc/recoveryrate" method = "getRequestcount"
selecteddays = "#date_id#"
arg_resort_code = "#arr_resort_id#"
returnVariable	="retVal">
<cfdump var=#retVal#>
<cfabort>
