<!---  --->

<cfinvoke component = "cfc/specsheet" method = "getReserveDetail" returnVariable	="retVal"
	MCID = 0
	referencenumber = "5944SG151"
	reserve_code = 5944
	room_code = 102
>
<cfdump var=#retVal#><cfabort>

<cfinvoke component = "cfc/specsheet" method = "getUserEnquete" returnVariable	="retVal"
	SummaryID = "1"
	customernumber = "5944SG151">
	
<cfdump var=#retVal#><cfabort>



<cfinvoke component = "cfc/specsheet" method = "getCustomerReserve" returnVariable	="retVal"
	customernumber = "KSC0029319">
