<cfif isdefined("form.sub")>
	<!--- R[h`FbN --->
	<cfquery name="getCustomer" datasource = "#Application.datasource#">
		select	 *
		from	 #Application.app01.dbu#.rtm_customer
		where	 insert_flg = 1
	</cfquery>
	<cfoutput>
	<cfloop query="getCustomer">
		<table border="1">
			<tr><td colspan="2" bgcolor="##CCCCCC">#currentrow#</td></tr>
			<tr><td>\ñÔ</td><td>#reservenumber#</td></tr>
			<tr><td>VwÚqÔ</td><td>#customernumber#</td></tr>
			<tr><td>Vw¼</td><td>#name#</td></tr>
			<tr><td>Vw¼Ji</td><td>#name_kana#</td></tr>
			<tr><td>VYÚqÔ</td><td>#groomnumber#</td></tr>
			<tr><td>VY¼</td><td>#groomname#</td></tr>
			<tr><td>VY¼Ji</td><td>#groomkana#</td></tr>
			<tr><td>[AhX</td><td>#mail_address#</td></tr>
			<tr><td>VwNî</td><td>#age#</td></tr>
			<tr><td>Qñl</td><td>#attendance#</td></tr>
			<tr><td>GAR[h</td><td>#area_code#</td></tr>
			<tr><td>§</td><td>#pref_code#</td></tr>
			<tr><td>³ï</td><td>#church#</td></tr>
			<tr><td>âIïê</td><td>#place#</td></tr>
			<tr><td>X^C</td><td>#style_code#</td></tr>
			<tr><td>®ú</td><td>#ceremony_date#</td></tr>
			<tr><td>®</td><td>#ceremony_time#</td></tr>
			<tr><td>LhtO</td><td>#time_flg#</td></tr>
			<tr><td>[hÊ^L³</td><td>#morland_flg#</td></tr>
			<tr><td>GETSpL³</td><td>#gets_flg#</td></tr>
			<tr><td>VKÎÒR[h</td><td>#tanto_code#</td></tr>
			<tr><td>VKÎê</td><td>#basyo_code#</td></tr>
			<tr><td>yäòº©ÎÒ</td><td>#sitami_code#</td></tr>
			<tr><td>\ñSÒ</td><td>#yoyakutanto_code#</td></tr>
			<tr><td>üep</td><td>#biyo_flg#</td></tr>
			<tr><td>üeSÒ</td><td>#biyotanto_code1#</td></tr>
			<tr><td>üeSÒ</td><td>#biyotanto_code2#</td></tr>
			<tr><td>ßÖp</td><td>#isyo_flg#</td></tr>
			<tr><td>ßÖSÒ</td><td>#isyotanto_code#</td></tr>
			<tr><td>u[Pp</td><td>#bouquet_flg#</td></tr>
			<tr><td>ø«o¨p</td><td>#hiki_flg#</td></tr>
			<tr><td>âIiïÒ</td><td>#sikaitanto_code#</td></tr>
			<tr><td>ïS</td><td>#enkaitanto_code#</td></tr>
			<tr><td>qt</td><td>#bokusitanto_code#</td></tr>
			<tr><td>îY¦</td><td>#kaizoetanto_code#</td></tr>
			<tr><td>Ê^SÒ</td><td>#syasintanto_code#</td></tr>
		</table>
		<br>
	</cfloop>
	</cfoutput>
</cfif>
<form name="test" method="post" action="check.cfm">
<input type="submit" name="sub" value="mF">
</form>
