<!--- 
<cfprocessingdirective suppresswhitespace=true pageEncoding="UTF-8">
 --->
<cftry>

<cfprocessingdirective suppresswhitespace=true pageEncoding="shift_jis">
<cfsetting enableCFoutputOnly = "Yes" showdebugoutput="yes">
<cfcontent type="text/html; charset=shift_jis">
<cfoutput>
<cfscript>
	SetEncoding("form", "shift_jis");
	theEncoding = GetEncoding("form");
</cfscript>

<form name="test" method="post" action="stay/import.cfm" target="_blank">
<input type="hidden" name="roomnumber" value="1153"><!---[ --->
<input type="hidden" name="reservationnumber" value="3116709"><!---\ñÔ --->
<input type="hidden" name="arrivaldate" value="2009/07/8"><!---ú --->
<input type="hidden" name="nights" value="1"><!--- --->
<input type="hidden" name="departuredate" value="2009/07/9"><!---o­ú --->
<input type="hidden" name="lateout" value="1"><!---CgAEg --->
<input type="hidden" name="manpersoncount" value="1"><!---j --->
<input type="hidden" name="womenpersoncount" value="2"><!--- --->
<input type="hidden" name="childpersoncount_a" value="3"><!---qA --->
<input type="hidden" name="childpersoncount_b" value="4"><!---qB --->
<input type="hidden" name="childpersoncount_c" value="5"><!---qC --->
<input type="hidden" name="childpersoncount_d" value="6"><!---qD --->
<input type="hidden" name="roomtype" value="9876:roomtype"><!---[^Cv --->
<input type="hidden" name="roomcontrol" value="4444:roomcontrol"><!---[Rg[ --->
<input type="hidden" name="reservationroute" value="reservationroute:reservationroute"><!---\ñoH --->
<input type="hidden" name="totalsalesamount" value="100"><!---qºãz --->
<input type="hidden" name="totalsalesamountdividedbynights" value="200"><!---qºP¿ --->
<input type="hidden" name="personunitprice" value="300"><!---qP¿iêj --->
<input type="hidden" name="roomcharge" value="400"><!---[`[Wiêj --->
<input type="hidden" name="optionamount" value="500"><!---IvV¿àiêj --->
<input type="hidden" name="restaurantamount" value="600"><!---Xg¿àiêj --->
<input type="hidden" name="marketing_1" value="test1:test1"><!---}[PeBO/FmoH --->
<input type="hidden" name="marketing_2" value="test2:test2"><!---}[PeBO/·sÚI1 --->
<input type="hidden" name="marketing_3" value="test3:test3"><!---}[PeBO/qwæª --->
<input type="hidden" name="marketing_4" value="test4:test4"><!---}[PeBO --->
<input type="hidden" name="marketing_5" value="test5:test5"><!---}[PeBO --->
<input type="hidden" name="marketing_6" value="test6:test6"><!---}[PeBO --->
<input type="hidden" name="marketing_7" value="test7:test7"><!---}[PeBO --->
<input type="hidden" name="marketing_8" value="test8:test8"><!---}[PeBO --->
<input type="hidden" name="marketing_9" value="test9:test9"><!---}[PeBO --->
<input type="hidden" name="marketing_10" value="test10:test10"><!---}[PeBO --->
<input type="hidden" name="customernumber" value="customernumber"><!---ÚqÔ --->
<input type="hidden" name="customercategory" value="customercategory"><!---Úqæª --->
<input type="hidden" name="customerrank" value="VIP"><!---qí --->
<input type="hidden" name="kananame" value="eXg"><!---Ji¼ --->
<input type="hidden" name="kanjiname" value="eXg¿¼"><!---¿¼ --->
<input type="hidden" name="birthdate" value="birthdate"><!---¶Nú --->
<input type="hidden" name="postalcode" value="postalcode"><!---XÖÔ --->
<input type="hidden" name="address1" value="Z"><!---Z1 --->
<input type="hidden" name="address2" value="Z"><!---Z2 --->
<input type="hidden" name="address3" value="Z"><!---Z3 --->
<input type="hidden" name="homephonenumber" value="homephonenumber"><!---©îdbÔ --->
<input type="hidden" name="portablephonenumber" value="portablephonenumber"><!---gÑdbÔ --->
<input type="hidden" name="e_mail" value="test@softbank.ne.jp"><!---E[AhX --->
<input type="hidden" name="married" value=""><!---¥ --->
<input type="hidden" name="sex" value="1"><!---«Ê --->
<input type="hidden" name="note" value="note"><!---õl --->
<input type="hidden" name="referencenumber" value="3116709R292814"><!---ÆïpÔ --->
<input type="hidden" name="surveymethod" value="1"><!---²¸èi --->
<input type="hidden" name="shopresult_01" value="1-test1-100"><!---XÜ1 --->
<input type="hidden" name="shopresult_02" value="2-test2-101"><!---XÜ2 --->
<input type="hidden" name="shopresult_03" value="3-test3-102"><!---XÜ3 --->
<input type="hidden" name="shopresult_04" value="4-test4-103"><!---XÜ4 --->
<input type="hidden" name="shopresult_05" value="1-test1-101"><!---XÜ5 --->
<input type="hidden" name="shopresult_06" value="2-test2-102"><!---XÜ6 --->
<input type="hidden" name="shopresult_07" value="3-test3-103"><!---XÜ7 --->
<input type="hidden" name="shopresult_08" value="4-test4-104"><!---XÜ8 --->
<input type="hidden" name="shopresult_09" value="1-test1-102"><!---XÜ9 --->
<input type="hidden" name="shopresult_10" value="2-test2-103"><!---XÜ10 --->
<input type="hidden" name="shopresult_11" value="3-test3-104"><!---XÜ11 --->
<input type="hidden" name="shopresult_12" value="4-test4-105"><!---XÜ12 --->
<input type="hidden" name="shopresult_13" value="1-test1-103"><!---XÜ13 --->
<input type="hidden" name="shopresult_14" value="2-test2-104"><!---XÜ14 --->
<input type="hidden" name="shopresult_15" value="3-test3-105"><!---XÜ15 --->
<input type="hidden" name="shopresult_16" value="4-test4-106"><!---XÜ16 --->
<input type="hidden" name="shopresult_17" value="1-test1-104"><!---XÜ17 --->
<input type="hidden" name="shopresult_18" value="2-test2-105"><!---XÜ18 --->
<input type="hidden" name="shopresult_19" value="3-test3-106"><!---XÜ19 --->
<input type="hidden" name="shopresult_20" value="4-test4-107"><!---XÜ20 --->
<!---<input type="hidden" name="repeater" value="1">s[^[tO --->
<input type="hidden" name="marketingarea" value="area1:area1"><!---GAR[h --->
<input type="hidden" name="facilityid" value="003"><!---{ÝR[h --->
<input type="hidden" name="roomsalesitemid" value="roomsalesitemid"><!---pbP[W --->
<input type="hidden" name="createuseraccountid" value="createuseraccountid"><!---\ñSÒ --->
<input type="hidden" name="createtimestamp" value="2008/6/1"><!---\ñú --->
<input type="hidden" name="pos_menu" value="10001:[HiaHj/10004:q[HimHj/10010:q`©H"><!---POSj[ --->
<input type="hidden" name="pricingtype" value="P"><!---¿àæª --->
<input type="hidden" name="reservationtype" value="2"><!---cÌEÂltO --->



<input type="submit" name="sub" value="o^">
</form>
</cfoutput>
</cfprocessingdirective>
	<cfcatch type="any">
		<!--- æÊoÍ --->
		<cfoutput>ERROR</cfoutput>
		<cfdump var=#cfcatch#>
	</cfcatch>
</cftry>
		