<!--- 
<cfprocessingdirective suppresswhitespace=true pageEncoding="shift_jis">
 --->
<cftry>

<cfprocessingdirective suppresswhitespace=true pageEncoding="shift_jis">
<cfsetting enableCFoutputOnly = "Yes" showdebugoutput="yes">
<cfcontent type="text/html; charset=shift_jis">
<cfoutput>
<cfscript>
	SetEncoding("form", "shift_jis");
	theEncoding = GetEncoding("form");
</cfscript>

<form name="test" method="post" action="stay/import.cfm" target="_blank">
<input type="hidden" name="roomnumber" value="105"><!---ルーム --->
<input type="hidden" name="reservationnumber" value="000008371"><!---予約番号 --->
<input type="hidden" name="arrivaldate" value="2008/10/04"><!---到着日 --->
<input type="hidden" name="nights" value="1"><!---泊数 --->
<input type="hidden" name="departuredate" value="2008/10/03"><!---出発日 --->
<input type="hidden" name="lateout" value=""><!---レイトアウト --->
<input type="hidden" name="manpersoncount" value="1"><!---男 --->
<input type="hidden" name="womenpersoncount" value="1"><!---女 --->
<input type="hidden" name="childpersoncount_a" value="0"><!---子A --->
<input type="hidden" name="childpersoncount_b" value="0"><!---子B --->
<input type="hidden" name="childpersoncount_c" value="0"><!---子C --->
<input type="hidden" name="childpersoncount_d" value="0"><!---子D --->
<input type="hidden" name="roomtype" value="HR5"><!---ルームタイプ --->
<input type="hidden" name="roomcontrol" value="WEB"><!---ルームコントロール --->
<input type="hidden" name="reservationroute" value="/NA/IKK:test"><!---予約経路 --->
<input type="hidden" name="totalsalesamount" value="52200"><!---客室総売上額 --->
<input type="hidden" name="totalsalesamountdividedbynights" value="52200"><!---客室単価 --->
<input type="hidden" name="personunitprice" value="26100"><!---客単価（一泊） --->
<input type="hidden" name="roomcharge" value="25150"><!---ルームチャージ（一泊） --->
<input type="hidden" name="optionamount" value="950"><!---オプション料金（一泊） --->
<input type="hidden" name="restaurantamount" value="0"><!---レストラン料金（一泊） --->
<input type="hidden" name="marketing_1" value="/WAG/IKK:(/ウェブエージェント/一休)"><!---マーケティング/認知経路 --->
<input type="hidden" name="marketing_2" value="/OMO:(/思い出づくり・感動体)"><!---マーケティング/旅行目的1 --->
<input type="hidden" name="marketing_3" value="/RSO:(/リラックス・いやし)"><!---マーケティング/客層区分 --->
<input type="hidden" name="marketing_4" value="/DSH:(/美味しい食事)"><!---マーケティング --->
<input type="hidden" name="marketing_5" value="/CPL:(/夫婦・カップル)"><!---マーケティング --->
<input type="hidden" name="marketing_6" value="/30:(?39才)"><!---マーケティング --->
<input type="hidden" name="marketing_7" value=""><!---マーケティング --->
<input type="hidden" name="marketing_8" value=""><!---マーケティング --->
<input type="hidden" name="marketing_9" value=""><!---マーケティング --->
<input type="hidden" name="marketing_10" value=""><!---マーケティング --->
<input type="hidden" name="customernumber" value="AGW0000664"><!---顧客番号 --->
<input type="hidden" name="customercategory" value="01"><!---顧客区分 --->
<input type="hidden" name="customerrank" value="CST"><!---客種 --->
<input type="hidden" name="kananame" value="TEST"><!---カナ名 --->
<input type="hidden" name="kanjiname" value="TEST"><!---漢字名 --->
<input type="hidden" name="birthdate" value="1973/01/28"><!---生年月日 --->
<input type="hidden" name="postalcode" value="4130017"><!---郵便番号 --->
<input type="hidden" name="address1" value="静岡県熱海市"><!---住所1 --->
<input type="hidden" name="address2" value="福道町７?１３"><!---住所2 --->
<input type="hidden" name="address3" value=""><!---住所3 --->
<input type="hidden" name="homephonenumber" value="0557-83-4869"><!---自宅電話番号 --->
<input type="hidden" name="portablephonenumber" value="portablephonenumber"><!---携帯電話番号 --->
<input type="hidden" name="e_mail" value="testmic-systems.com"><!---Eメールアドレス --->
<input type="hidden" name="married" value=""><!---結婚 --->
<input type="hidden" name="sex" value="W"><!---性別 --->
<input type="hidden" name="note" value=""><!---備考 --->
<input type="hidden" name="referencenumber" value="6787A1652"><!---照会用番号 --->
<input type="hidden" name="surveymethod" value=""><!---調査手段 --->
<input type="hidden" name="shopresult_01" value=""><!---店舗1 --->
<input type="hidden" name="shopresult_02" value=""><!---店舗2 --->
<input type="hidden" name="shopresult_03" value=""><!---店舗3 --->
<input type="hidden" name="shopresult_04" value=""><!---店舗4 --->
<input type="hidden" name="shopresult_05" value=""><!---店舗5 --->
<input type="hidden" name="shopresult_06" value=""><!---店舗6 --->
<input type="hidden" name="shopresult_07" value=""><!---店舗7 --->
<input type="hidden" name="shopresult_08" value=""><!---店舗8 --->
<input type="hidden" name="shopresult_09" value=""><!---店舗9 --->
<input type="hidden" name="shopresult_10" value=""><!---店舗10 --->
<input type="hidden" name="shopresult_11" value=""><!---店舗11 --->
<input type="hidden" name="shopresult_12" value=""><!---店舗12 --->
<input type="hidden" name="shopresult_13" value=""><!---店舗13 --->
<input type="hidden" name="shopresult_14" value=""><!---店舗14 --->
<input type="hidden" name="shopresult_15" value=""><!---店舗15 --->
<input type="hidden" name="shopresult_16" value=""><!---店舗16 --->
<input type="hidden" name="shopresult_17" value=""><!---店舗17 --->
<input type="hidden" name="shopresult_18" value=""><!---店舗18 --->
<input type="hidden" name="shopresult_19" value=""><!---店舗19 --->
<input type="hidden" name="shopresult_20" value=""><!---店舗20 --->
<!---<input type="hidden" name="repeater" value="1">リピーターフラグ --->
<input type="hidden" name="marketingarea" value="/14/SHZ:静岡"><!---エリアコード --->
<input type="hidden" name="facilityid" value="107"><!---施設コード --->
<input type="hidden" name="roomsalesitemid" value="IK211SE08B"><!---パッケージ --->
<input type="hidden" name="createuseraccountid" value="z6602"><!---予約担当者 --->
<input type="hidden" name="createtimestamp" value="2008/05/21"><!---予約日 --->
<input type="hidden" name="pos_menu" value=""><!---POSメニュー --->
<input type="hidden" name="pricingtype" value=""><!---料金区分 --->
<input type="hidden" name="reservationtype" value="1"><!---団体・個人フラグ --->



<input type="submit" name="sub" value="登録">
</form>
</cfoutput>
</cfprocessingdirective>
	<cfcatch type="any">
		<!--- 画面出力 --->
		<cfoutput>ERROR</cfoutput>
		<cfdump var=#cfcatch#>
	</cfcatch>
</cftry>
		