<!--- RootPath 
<cfset rootpath="/#listgetat(cgi.SCRIPT_NAME,1,'/')#/generalmanage/dmmanage/">
<cfset outputDirectory = "#rootpath#csvfiles/">
<cfset filename="http://#cgi.server_name##outputDirectory#test.csv">
<cfdump var=#filename#>
<cfabort>
--->
<!--- ファイル出力先 --->	
<cftry>

<cfinvoke component = "cfc/conditionmanage" method = "getresort"

returnVariable	="retVal">
<cfdump var=#retVal#>

<cfinvoke component = "cfc/conditionmanage" method = "getcontorl"
dsn="crmpublic"
scm="dbo"
rcd=15
controldiv_id=0
returnVariable	="retVal">

<cfdump var=#retVal#>

	<cfcatch>
		<cfdump var=#cfcatch#>
	</cfcatch>

</cftry>