<!---
*************************************************************************************************
* Description		:基幹データ取込ログイン（初版：星のや）
* History			:1) Coded by	2005/12/01 h.miyahara(NetFusion)
*					:2) Updated by	
*************************************************************************************************
--->
<cfset password="qawsed">
<cfif (isDefined("session.login") eq false or session.login eq false) and right(cgi.SCRIPT_NAME,10) neq "import.cfm">
	<cflocation url="import.cfm" addtoken="no">
</cfif>
<cfif isdefined("form.pwd")>
	<cfif form.pwd eq password>
		<cfset session.login=true>
	</cfif>
<cfelseif isdefined("form.logout")>
	<cfset session.login=false>
</cfif>

<cfif isdefined("form.pwd")>
	<cfif form.pwd eq password>
		<cfset session.login=true>
	</cfif>
<cfelseif isdefined("form.logout")>
	<cfset session.login=false>
</cfif>