﻿<cfset q_resort = querynew("resort_code,resort_nm,application_nm,dsn")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",1)>
<cfset querysetcell(q_resort,"resort_nm","貴祥庵")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",4)>
<cfset querysetcell(q_resort,"resort_nm","白銀屋")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",5)>
<cfset querysetcell(q_resort,"resort_nm","いづみ荘")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",8)>
<cfset querysetcell(q_resort,"resort_nm","古牧")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",9)>
<cfset querysetcell(q_resort,"resort_nm","奥入瀬")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",14)>
<cfset querysetcell(q_resort,"resort_nm","有楽")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",3)>
<cfset querysetcell(q_resort,"resort_nm","松延")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",11)>
<cfset querysetcell(q_resort,"resort_nm","東光園")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",15)>
<cfset querysetcell(q_resort,"resort_nm","アンジン")>
<cfset querysetcell(q_resort,"application_nm","crmpublic")>
<cfset querysetcell(q_resort,"dsn","crmpublic.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",501)>
<cfset querysetcell(q_resort,"resort_nm","トマム")>
<cfset querysetcell(q_resort,"application_nm","tomamu")>
<cfset querysetcell(q_resort,"dsn","tomamu_w.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",501)>
<cfset querysetcell(q_resort,"resort_nm","トマム")>
<cfset querysetcell(q_resort,"application_nm","tomamu")>
<cfset querysetcell(q_resort,"dsn","tomamu_g.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",502)>
<cfset querysetcell(q_resort,"resort_nm","HBC")>
<cfset querysetcell(q_resort,"application_nm","hbc")>
<cfset querysetcell(q_resort,"dsn","hbc.dbo.")>
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",503)>
<cfset querysetcell(q_resort,"resort_nm","アルツ")>
<cfset querysetcell(q_resort,"application_nm","alts")>
<cfset querysetcell(q_resort,"dsn","altscrm.dbo.")>
<!--- 
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",504)>
<cfset querysetcell(q_resort,"resort_nm","アルツアカデミー")>
<cfset querysetcell(q_resort,"application_nm","alts")>
<cfset querysetcell(q_resort,"dsn","altswinter.dbo.")>
--->
<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",505)>
<cfset querysetcell(q_resort,"resort_nm","リゾナーレ")>
<cfset querysetcell(q_resort,"application_nm","rnr")>
<cfset querysetcell(q_resort,"dsn","rnr.dbo.")>

<cfset queryaddrow(q_resort,1)>
<cfset querysetcell(q_resort,"resort_code",506)>
<cfset querysetcell(q_resort,"resort_nm","アルツ冬季")>
<cfset querysetcell(q_resort,"application_nm","altswinter")>
<cfset querysetcell(q_resort,"dsn","altswinter.dbo.")>

