<cfif isdefined("form.getSearch")>
	
	<cfinvoke component="loginmanage" method="xss_check" returnvariable="xss_str">
		<cfinvokeargument name="chk_str" value="#form.username#">
	</cfinvoke>
	
	<cfset xss_name = xss_str>
	
	<cfinvoke component="loginmanage" method="xss_check" returnvariable="xss_str">
		<cfinvokeargument name="chk_str" value="#form.password#">
	</cfinvoke>
	
	<cfset xss_pass = xss_str>

	<cfinvoke component="loginmanage" method="login_check" returnvariable="loginFailed">
		<cfinvokeargument name="username" value="#xss_name#">
		<cfinvokeargument name="password" value="#xss_pass#">
	</cfinvoke>
	
	<cfif loginFailed>
		このアカウントではこの機能を利用することはできません
	<cfelse>
		<cfset session.username = xss_name>
		<cflocation url="index.cfm" addtoken="no">
	</cfif>
</cfif>

<cfoutput>
<html lang="ja">
<head>
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<TITLE>-+ CRMKitchen 総合アカウント管理 +-</TITLE>
</head>
<body text="##333333" bgcolor="##ffffff" link="##cc3300" alink="##cc3300" vlink="##cc3300" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
	<cfform  name="loginform" action="#CGI.script_name#?#CGI.query_string#" method="Post" format="Flash" skin="haloBlue" >
		<cfformgroup type="vbox">
			<cfinput type="text" name="username" value="crm002" required="yes" message="ログインＩＤを入力してください" size="12" maxlength="12" label = "ID">
			<cfinput type="password" name="password" required="yes" message="パスワードを入力してください" size="12" maxlength="12" label = "PW">
			<cfinput type="submit" name="getSearch" value=" ログイン " width="60">
		</cfformgroup>
   </cfform>
</body>
</html>
</cfoutput>
