<cfset tmpbdate = DateFormat(CreateDate(2007,01,02),'YYYY/MM/DD')>
<!--- 
<cfset tmpedate = DateFormat(#now()#,'YYYY/MM/DD')>
 --->
<cfset tmpedate = DateFormat(CreateDate(2007,05,01),'YYYY/MM/DD')>
<cfinvoke component = "utility"
	method			= "expData2"
	bdate = "#tmpbdate#"
	edate = "#tmpedate#"
	returnVariable	= "retData">
<cfsetting enablecfoutputonly="yes" showDebugOutput = "No">
<!--- 
<cfcontent type="text/csv; charset=SHIFT_JIS">
 --->
<cfif not isquery(retData)>
<cfcontent type="application/msexcel; charset=SHIFT_JIS" variable="#ToBinary( ToBase64(retData) )#" reset="Yes">
<cfelse>
<cfdump var=#retData#>
<cfabort>
</cfif>
<cfabort>
<!--- 
<cfoutput>#retData#</cfoutput>
 --->