<cfprocessingdirective pageencoding="MS932">
<cfscript>
request.app = structNew();
request.app.dsn = "crmpublic";
request.app.site = "#getPageContext().getRequest().getContextPath()#/crmpublic";
request.app.root = "#request.app.site#/utility";
request.app.resource = "#request.app.root#/resource";
request.app.tag = "#request.app.root#/tag";
request.app.cfc = "#request.app.root#/cfc";
request.app.encoding = "UTF-8";
request.app.newline = "#Chr(13)##Chr(10)#";
</cfscript>
