<cfprocessingdirective pageencoding="MS932">
<style type="text/css">
<!--
body {
	margin-top: 40px;
}
-->
</style>
<cfoutput>
<html>
<head>
<script language="JavaScript" src="#request.app.resource#/default.js"></script>
</head>
<body>
<form name="loginForm" action="index.cfm" method="Post" target="_top">
<input name="j_username" type="hidden" size="45" value="admin">
<center>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3"><img src="#request.app.resource#/img/title.jpg" width="300" height="30" border="0"></td>
	</tr>
	<tr height="50">
		<td align="right"><img src="#request.app.resource#/img/password.jpg" width="100" height="22" border="0"></td>
		<td>&nbsp;<input name="j_password" type="password" size="45"></td>
		<td>&nbsp;
			<a href="##" onclick="login(document.loginForm);"><img src="#request.app.resource#/img/login.jpg" width="100" height="30" border="0"></a>
			&nbsp;
			<a href="##" onclick="document.loginForm.reset();"><img src="#request.app.resource#/img/reset.jpg" width="100" height="30" border="0"></a>
		</td>
	</tr>
</cfoutput>
</table>
</center>
<p align="center">
<cfoutput>

</p>
</cfoutput>
</form>
</body>
<script language="JavaScript">
function login(form) {
  if (!requiredCheck(form.j_password,'password')) {
    return false;
  }
  form.submit();
}
</script>
