<cfprocessingdirective suppresswhitespace=true pageEncoding="UTF-8">

<cfapplication name="crmpublic" sessionmanagement="yes" sessionTimeout = #CreateTimeSpan(1, 0, 0, 0)# clientmanagement="no" >
<!--- データソース名 --->
<cfset Application.datasource="crmpublic">

<!--- folder --->
<!--- 
<cfset Application.folder1="沖縄">
<cfset Application.folder2="青森">
 --->
<cfset Application.folder1="旅館">
<cfset Application.folder2="MICTemp">


<!--- getExportData1用user名 --->
<cfset Application.getExportDatauser="hoshino+kyoto@altpaper.net">
<!--- getExportData1用password --->
<cfset Application.getExportDataPass="j621mKl">


<!--- getExportData1用URL --->
<cfset Application.getExportDataURL="https://peachv1.altpaper.net/WaterMelon/Peach/listingLightwtExportData2?">

<!--- getExportData2用URL --->
<cfset Application.getExportDataURL2="https://peachv1.altpaper.net/WaterMelon/Peach/hoshino/SubmitBatchRenderExportData">


<!--- getExportData3用URL --->
<cfset Application.getExportDataURL3="https://peachv1.altpaper.net/WaterMelon/Peach/hoshino/IsFinishedBatch?id=">

<!--- getExportData4用URL --->
<cfset Application.getExportDataURL4="https://peachv1.altpaper.net/WaterMelon/Peach/hoshino/GetBatchOutput?id=">

<!---WEBサービス名--->
<cfset Application.webname = "https://peach-ww.altpaper.net/WaterMelon/Peach/APWebServV1/AltFolders?wsdl">

<!---WEBサービス関連--->
<cfset Application.dir1 = "登録済みフォルダ">
<cfset Application.dir2_1 = "沖縄">
<cfset Application.dir2_2 = "青森">
<cfset Application.er_dir1 = "エラー">
<!--- genderid --->
<cfset Application.gender_id=9900000001>
<!--- married_id --->
<cfset Application.married_id=9900000002>
<!--- age_id --->
<cfset Application.age_id=9900000003>
<!--- child_id --->
<cfset Application.child_id=9900000004>
<!--- job_id --->
<cfset Application.job_id=9900000005>
<!--- trip_id --->
<cfset Application.trip_id=9900000006>
<!--- old_ref --->
<cfset Application.old_ref=9900000007>
<!--- scheduleURL --->
<cfset Application.scheduleURL="http://192.168.10.25/crmpublic/apxml/index2.cfm">
<!--- エラーがあった場合の再実行スケジュール 2010/08/24追加 --->
<cfset Application.scheduleURL2="http://192.168.10.25/crmpublic/apxml/index.cfm">

<!--- mail_to --->
<cfset Application.mail_to="miyahara@mic-systems.com">
<!--- mail_cc --->
<cfset Application.mail_cc="sakamoto@mic-systems.com">
<!--- mail_from --->
<cfset Application.mail_from="crm-ap@hoshinoresort.com">
<!--- mail_smtp --->
<cfset Application.mail_smtp="mail.hoshinoresort.com">
<!--- mail_smtp --->
<cfset Application.mail_port="587">
<!--- mail_usernm --->
<cfset Application.mail_usernm="crm-hny%room-yoyaku.jp">
<!--- mail_pw --->
<cfset Application.mail_pw="Dm7Bnsykp0">
<!--- mail_subject1 --->
<cfset Application.mail_subject1="CRMK-AltPeaper連携DailyReport＜＜ 旅館統合版 ＞＞">
<!--- mail_subject2 --->
<cfset Application.mail_subject2="09qqffkO">


<!--- img仮想ディレクトリ名 --->
<cfset Application.imgpath_db="apimg">


<!--- ftp_user --->
<cfset Application.ftp_user="Administrator">
<!--- ftp_pass --->
<cfset Application.ftp_pass="z1yty9s5">
<!--- ftp_server --->
<cfset Application.ftp_server="192.168.191.5">
<!--- ftp_root --->
<cfset Application.ftp_root="/crmpublic/crmpublic/apimg/">

</cfprocessingdirective>