﻿<cftry>
<cfset list1 = "zzz100416001,zzz100283001,zzz77449001,zzz86749001,zzz76131003,zzz81528003,zzz81669002,zzz100284001,zzz7403001">
<cfset list2 = "175230,
175255
,176621
,176622
,176628
,176629
,176633
,177026
,177094
">

<cfloop from="1" to="#listlen(list1)#" index="idx">
	<cfinvoke component="getalt_p2" method="checkingRefnum" returnVariable="rValue">
		<cfinvokeargument name="r_num" value="#listgetat(list1,idx)#">
		<cfinvokeargument name="formatid" value="4511">
		<cfinvokeargument name="ap_id" value="#listgetat(list2,idx)#">
	</cfinvoke>
</cfloop>
	<cfcatch>
		<cfdump var=#cfcatch#>
	</cfcatch>
</cftry>
<cfdump var=#rValue#>