<cfprocessingdirective suppresswhitespace=true pageEncoding="UTF-8">
<cfsetting enableCFoutputOnly = "Yes" showdebugoutput="yes">
<cfoutput>
<cftry>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>-+ CRMKitchen 権限設定 +-</title>
</head>

<body>
<cfform name="m_reserve" action="index.cfm" method="post">

	<cfformgroup type="horizontal" width="100%">
		<dl>
			<dt width="200">施設ID</dt>
			<dd>
				<cfinput type="text" name="resort_code" size="12" maxlength="12" label = "施設ID   　　　">
			</dd>
			<dt>ログインID</dt>
			<dd>
			<cfinput type="text" name="login_id" size="12" value="" label = "ログインID　 　">
			</dd>
			<dt>ログインPW</dt>
			<dd>
			<cfinput type="text" name="login_pw" size="12" value="" label = "ログインPW 　">
			</dd>
			<dt>ログイン名</dt>
			<dd>
			<cfinput type="text" name="login_nm" size="12" value="" label = "ログイン名　 　">
			</dd>
			<dt>権限区分</dt>
			<dd>
			<cfinput type="text" name="login_div" size="12" maxlength="12" label = "権限区分　　　">
			</dd>
			<dt>登録区分</dt>
			<dd>
			<cfinput type="text" name="regist_div" size="12" maxlength="12" label = "登録区分　　　">
			</dd>
		</dl>
		<cfinput type="submit" name="setpost" value=" 送 信 " width="60">
	</cfformgroup>
</cfform>
<cfcatch type="any">
	<cftransaction action="rollback"/>
</cfcatch>
</cftry>
</body>
</html>
</cfoutput>
</cfprocessingdirective>