<cfoutput>
<cfif IsDefined("form.regist") or IsDefined("URL.mode")>
	<cfinvoke
		component		= "Convert"
		method			= "setUseData"
		returnVariable	= "UseData">
	#UseData.recordcount#件のデータを登録しました。<br>
	<input type="button" value="戻る" onclick="JavaScript:history.back();">
<cfelse>

	<p>明細情報データ投入</p>
	・「データ投入開始」ボタンを押すとアウトレット利用履歴テーブルに明細情報のデータを登録します。
	<form name="datas" method="post">
		<input type="submit" name="regist" value="データ投入開始">
	</form>

</cfif>
</cfoutput>
	
<!--- <cfdump var=#maydata#> --->
