<cfoutput>
<cfif IsDefined("form.regist") or IsDefined("URL.mode")>
	<cfinvoke
		component		= "Convert"
		method			= "AddMaterData"
		returnVariable	= "answers">
	#answers.recordcount#件のデータを登録しました。<br>
	<input type="button" value="戻る" onclick="JavaScript:history.back();">
<cfelse>

	<p>ＣＳ集計用顧客情報データ投入</p>
	・「データ投入開始」ボタンを押すとＣＳ回答テーブルに集計用の顧客データを登録します。
	<form name="datas" method="post">
		<input type="submit" name="regist" value="データ投入開始">
	</form>

</cfif>
</cfoutput>
	
<!--- <cfdump var=#maydata#> --->
