<cfapplication name="webcs" sessionmanagement="Yes" loginStorage="Session">
<cfsetting enablecfoutputonly="yes">
<cfscript>
//	dsn = "anjin";
	dsn = "anjin";
	dbu = "tap";
	digitcheck = "6";
	title="アンジンＣＳ スタッフ入力画面";
	resort_code=10;
	b_term = "7/1";
	e_term = "11/29";
</cfscript> 
<!--- b_term 夏版設問表示開始日 --->
<!--- e_term 夏版設問表示終了日 --->
